.heading{
    text-align: center;
}
.table:hover{
    cursor: pointer;
}
.table::-webkit-scrollbar{
    position: relative;
}



/*terminal css*/
  .cs-sm{
    width:15%;
  }
  .cs-lg{
    width:85%;
  }
  .message-box{
    position:fixed;
    background-color: black;
    bottom:0;
    border-radius: 5vh 5vh;
    border: 3px black solid;
    height:45vh;
    resize: both;
    z-index: 0;
  }

  .message-header{
    height: auto;
    color: white;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-content: center;
    margin: 1vh;
    height:5vh;
  }
  .textbox-area-container{
    position: relative;
    width: 100%;
  }
  .textbox-area{
    display:grid;
    grid-template-columns: 80% 20%;
    position: fixed;
    bottom: 0%;
    margin-bottom: .5%;
    height:6vh;
  }
  .sent-messages{
    position: relative;
    border: 1px black solid;
    overflow-y: scroll;
    width: 100%;
    height: 30vh;
    overflow-y:scroll;
    overflow-x: clip; 
  }
  .sent-messages::-webkit-scrollbar{
    background-color: black;
  }
  ::-webkit-scrollbar-thumb:vertical{
    border-radius: 20px 20px 20px 20px;
    background: linear-gradient(
        to bottom,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
  }
  ::-webkit-scrollbar-thumb:horizontal{
    border-radius: 20px 20px 20px 20px;
    background: linear-gradient(
        to right,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
  }
  .command-text-area{
    border-radius: 1vw;
  }.command-response-text{
    color: rgb(9, 173, 0);
    margin-left: 2%;
    margin-right: 2%;
  }
  .show-chatbox-btn{
    position: fixed; 
    bottom:0; 
    width:100%
  }
  .pointer:hover{
    cursor: pointer;
  }
