{% extends "layout.html" %}
{%block title%}
    Dashboard
{%endblock%}
{% block content %}
<script src="/static/js/brick_pi_2022_dashboard.js"></script> 
<script>
    jQuery(document).ready(function () {
  jQuery('[data-toggle="tooltip"]').tooltip();
});
</script>

<div class="modal fade" id="end_mission_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">End Mission</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-floating">
                <textarea type="text" class="form-control" id="mission_notes" placeholder="Notes" name ='mission_notes'></textarea>
                <label for="mission_notes">Mission Notes</label>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" onclick="jq_ajax('/cancel-mission');location.replace('/missions'); stop_start_mission();" 
          data-bs-dismiss="modal">Cancel Mission</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="jq_ajax('/save-mission', 
          document.getElementById('mission_notes').value); stop_start_mission(); location.replace('/missions')">Save Mission</button>
        </div>
      </div>
    </div>
  </div>
    <div class="page-header" id="banner">
        <div class="row">
            <h1>Robot Dashboard</h1>
        </div>
    </div>
    <div class="row" id="load">
        <button type="button" class="btn btn-success" onclick="load_robot();">Load Robot</button>
    </div>   
    <div id="dashboard">
        <div class="row">
            <div id ="battery_graph"></div>
            <button id="shutdown" type="button" class="btn btn-danger" onclick="shutdown_robot();">Shutdown Robot</button>
            <button id="reconfig" type="button" class="btn btn-warning" onclick="jq_ajax('/reconfig_IMU');">Reconfigure IMU</button>
            <button id="compass" type="button" class="btn btn-secondary" onclick="jq_ajax('/compass');">Set Compass</button>
            <button id="sensors" type="button" class="btn btn-info" onclick="jq_ajax('/sensors');">Sensors</button>
            <button id="missions-button" type="button" class="btn btn-success" onclick="jq_ajax('/initiate-mission');stop_start_mission()">Start Mission</button>
            <button id="missions-modal-button" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#end_mission_modal"
            onclick="jq_ajax('/initiate-mission')" hidden>End Mission</button>
            <button class="btn btn-success" onclick="recognition.start(); swap_vc(this.id)" data-current = "start" id = "vc_controls">
                Start VC <i class="fa fa-microphone" aria-hidden="true"></i>
            </button>
        </div>
        <div class="row">
            <button id="forward" type="button" class="btn btn-primary" onclick="jq_ajax('/btn-mov/forward/'+document.getElementById('power').value);">Forward</button>
            <button id="forward" type="button" class="btn btn-primary" onclick="jq_ajax('/btn-mov/back/'+document.getElementById('power').value);">Backward</button>
            <button id="forward" type="button" class="btn btn-primary" onclick="jq_ajax('/btn-mov/left/'+document.getElementById('power').value);">Left</button>
            <button id="forward" type="button" class="btn btn-primary" onclick="jq_ajax('/btn-mov/right/'+document.getElementById('power').value);">Right</button>
            <button id="forward" type="button" class="btn btn-primary" onclick="jq_ajax('/process_shooting');">Shoot</button>
            <button id="forward" type="button" class="btn btn-primary" onclick="jq_ajax('/btn-mov/stop/0');">Stop</button>
            <button id="forward" type="button" class="btn btn-primary" onclick="jq_ajax('/btn-mov/play/0');">Play</button>
            <button id="forward" type="button" class="btn btn-primary" onclick="jq_ajax('/reverse-movement');">Return</button>
        </div>
        <div class="row">
            <label for="customRange1" class="form-label heading">Robot Power: <span id = "power_range">30</span>%</label>
            <input type="range" class="form-range" id="power" min = "0" max = "100" step = "1" value =30
            oninput="document.getElementById('power_range').innerHTML = this.value">

        </div>
        <div class="row">
            <div id="videobox" class="col">
                <div id="videofeed"></div>
            </div>
            <div id="map"><div id="box" class="jxgbox col"></div></div>
            <div id="message"></div>
        </div>
    </div>
<script type="text/javascript">
        /*colour_banding = {'redFrom': '0', 'redTo': '20',
        'yellowFrom': '20', 'yellowTo': '60',
        'greenFrom': '60', 'greenTo': '100'}
        drawGuage('battery_graph', {'label': 'Battery', 'value': '80'}, colour_banding, {'width':400, 'height':120}, 5)*/
</script>
{% endblock %}
{% block scripts %}
    <script> robot_enabled = {{robot_enabled}}; </script>
    <script src="/static/js/dashboard.js"></script> 
    <script src="/static/js/mapping.js"></script> 
{% endblock %}