{% extends "layout.html" %}
{%block title%}
    Dashboard
{%endblock%}
{% block content %}
<script src="/static/js/brick_pi_2022_dashboard.js"></script> 
<script>
    jQuery(document).ready(function () {
  jQuery('[data-toggle="tooltip"]').tooltip();
});
</script>


<div class="modal fade" id="end_mission_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">End Mission</h5>
          <button type="button" class="btn-close" onclick="resume_mission();" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-floating">
                <textarea type="text" class="form-control" id="mission_notes" placeholder="Notes" name ='mission_notes'></textarea>
                <label for="mission_notes">Mission Notes</label>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" onclick="jq_ajax('/cancel-mission');location.replace('/missions'); stop_start_mission();resume_mission()" 
          data-bs-dismiss="modal">Cancel Mission</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="jq_ajax('/save-mission', 
          document.getElementById('mission_notes').value); stop_start_mission(); location.replace('/missions');resume_mission()">Save Mission</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="image_settings" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Image Settings</h5>
          <button type="button" class="btn-close" onclick="resume_mission();" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5 class= heading>Show</h5>
            <div class = "row">
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="h_victims" checked>
                <label class="form-check-label" for="h_victims">
                  Harmed Victims
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="u_victims" checked>
                <label class="form-check-label" for="u_victims">
                  Unharmed Victims
                </label>
              </div>
            </div>
            
            
            <h5 class= heading>Colour Mask</h5>
                <input type = "color" id = "upper_colour" value = "#ffffff" 
                onchange = "jq_ajax('/update-colour-mask/upper', this.value)">
                <label for="upper_colour">Upper Colour</label><br>
                <input type = "color" id = "lower_colour" value = "#000000"
                onchange = "jq_ajax('/update-colour-mask/lower', this.value)">
                <label for="lower_colour">Lower Colour</label>
            <button class = "btn btn-warning" onclick = "reset_image_settings()">Reset All</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" onclick="jq_ajax('/cancel-mission');location.replace('/missions'); stop_start_mission();resume_mission()" 
          data-bs-dismiss="modal">Cancel Mission</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="jq_ajax('/save-mission', 
          document.getElementById('mission_notes').value); stop_start_mission(); location.replace('/missions');resume_mission()">Save Mission</button>
        </div>
      </div>
    </div>
  </div>
    <h1 class="heading">Robot Dashboard</h1>
    
    <div class="row" id="load">
        <button type="button" class="btn btn-success" onclick="load_robot();">Load Robot</button>
    </div>   
    <div id="dashboard">
        <div class="d-flex justify-content-center">
          <div>
            <button id="missions-button" type="button" class="btn btn-success" onclick="jq_ajax('/initiate-mission');stop_start_mission();allow_sensors = true;">Start Mission</button>
            <button id="missions-modal-button" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#end_mission_modal"
            onclick="jq_ajax('/initiate-mission'); suspend_mission()" hidden>End Mission</button>
          </div>
          <div >
            <button class="btn btn-secondary" onclick="recognition.start(); swap_vc(this.id)" data-current = "start" id = "vc_controls">
              Start VC <i class="fa fa-microphone" aria-hidden="true"></i>
            </button>          
          </div>
          <div >
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Robot <i class="fa fa-cogs"></i></button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <button id="sensors" type="button" class="btn btn-info" onclick="jq_ajax('/sensors');"style="width:100%;">Sensors</button>
                  <button id="compass" type="button" class="btn btn-secondary" onclick="jq_ajax('/compass');" style="width:100%;">Set Compass</button>
                  <button id="reconfig" type="button" class="btn btn-warning" onclick="jq_ajax('/reconfig_IMU');" style="width:100%;">Reconfigure IMU</button>
                  <button id="shutdown" type="button" class="btn btn-danger" onclick="shutdown_robot();" style="width:100%;">Shutdown Robot</button>
                </div>
              </div>
            </div>
          </div>
          
          
          
            
          </div>
        <div class="d-flex justify-content-center">
          <div style = "display: grid; grid-template-columns: auto auto auto;">
            <button id="reverse" type="button" class="btn btn-secondary" onclick="jq_ajax('/reverse-movement');" 
            data-toggle='tooltip' data-placement='top' title="Return To Start"><i class="fa fa-home" aria-hidden="true"></i></button>
            <button id="forward" type="button" class="btn btn-primary" onclick="jq_ajax('/btn-mov/forward/'+document.getElementById('power').value);"
            data-toggle='tooltip' data-placement='top' title="Move Forward"><i class="fa fa-angle-double-up"></i></button>
            <button id="stop" type="button" class="btn btn-danger" onclick="jq_ajax('/btn-mov/stop/0');"
            data-toggle='tooltip' data-placement='top' title="Stop Robot"><i class="fa fa-stop-circle-o" aria-hidden="true"></i></button>

            <button id="left" type="button" class="btn btn-primary" onclick="jq_ajax('/btn-mov/left/'+document.getElementById('power').value);"
            data-toggle='tooltip' data-placement='top' title="Turn Left"><i class="fa fa-undo" aria-hidden="true"></i></button>
            <button id="shoot" type="button" class="btn btn-success" onclick="jq_ajax('/process_shooting');"
            data-toggle='tooltip' data-placement='top' title="Deliver Supplies"><i class="fa fa-crosshairs" aria-hidden="true"></i></button> 
            <button id="right" type="button" class="btn btn-primary" onclick="jq_ajax('/btn-mov/right/'+document.getElementById('power').value);"
            data-toggle='tooltip' data-placement='top' title="Turn Right"><i class="fa fa-repeat" aria-hidden="true"></i></button>
            
            <button id="take_photo" type="button" class="btn btn-warning" onclick="jq_ajax('/take-photo');"
            data-toggle='tooltip' data-placement='top' title="Take Photo"><i class="fa fa-camera" aria-hidden="true"></i></button>
            <button id="backward" type="button" class="btn btn-primary" onclick="jq_ajax('/btn-mov/back/'+document.getElementById('power').value);"
            data-toggle='tooltip' data-placement='top' title="Go Backwards"><i class="fa fa-angle-double-down"></i></button>
            <button id="image-settings-modal-button" type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#image_settings"
            onclick="suspend_mission()" data-toggle='tooltip' data-placement='top' title="Camera Settings"><i class="fa fa-sliders" aria-hidden="true"></i></button>

          </div>
        </div>
        
        <div class="row">
            <label for="customRange1" class="form-label heading">Robot Power: <span id = "power_range">30</span>%</label>
            <input type="range" class="form-range" id="power" min = "0" max = "100" step = "1" value =30
            oninput="document.getElementById('power_range').innerHTML = this.value">

        </div>
        <div class="row">
            <div id="videobox" class="col">
                <div id="videofeed"></div>
            </div>
            <div id="map" style="z-index: 0;"><div id="box" class="jxgbox col"></div></div>
            <div id="message"></div>
        </div>
    </div>

<script type="text/javascript">
    function allow_sensor(response){
      if (response == false){
        allow_sensors = false;
      }
    }
    if (allow_sensors){
        //interval = setInterval(function(){jq_ajax('/sensors', {}, allow_sensor)},2000)
    }
    
        /*colour_banding = {'redFrom': '0', 'redTo': '20',
        'yellowFrom': '20', 'yellowTo': '60',
        'greenFrom': '60', 'greenTo': '100'}
        drawGuage('battery_graph', {'label': 'Battery', 'value': '80'}, colour_banding, {'width':400, 'height':120}, 5)*/
</script>
<div id = "terminal-counter" style="height: 45vh" hidden></div>
{% endblock %}
{%block right_side_bar%}
<style>
  .cs-sm{
    width:15%;
  }
  .cs-lg{
    width:100%;
  }
  .message-box{
    position:fixed;
    background-color: black;
    bottom:0;
    border-radius: 5vh 5vh;
    border: 3px black solid;
    height:45vh;
    resize: both;
    z-index: 0;
  }

  .message-header{
    height: auto;
    color: white;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-content: center;
    margin: 1vh;
    height:5vh;
  }
  .textbox-area-container{
    position: relative;
    width: 100%;
  }
  .textbox-area{
    display:grid;
    grid-template-columns: 80% 20%;
    position: fixed;
    bottom: 0%;
    margin-bottom: .5%;
    height:6vh;
  }
  .sent-messages{
    position: relative;
    border: 1px black solid;
    overflow-y: scroll;
    width: 100%;
    height: 30vh;
    overflow-y:scroll;
    overflow-x: clip; 
  }
  .sent-messages::-webkit-scrollbar{
    background-color: black;
  }
  .sent-messages::-webkit-scrollbar-thumb{
    border-radius: 20px 20px 20px 20px;
    background-image: linear-gradient(to bottom, rgb(52, 235, 103), rgb(52, 113, 235));
  }
  .command-text-area{
    border-radius: 1vw;
  }.command-response-text{
    color: rgb(9, 173, 0);
    margin-left: 2%;
    margin-right: 2%;
  }
  .show-chatbox-btn{
    position: fixed; 
    bottom:0; 
    width:100%
  }
  .pointer:hover{
    cursor: pointer;
  }
</style>
<script>
  const commands_help = {'help':'Display commands', 'forward': 'Move forward x centimeters or seconds', 
  'back': 'Move back x centimeters or seconds', 'left': 'Turn left x degrees or seconds', 'right': 'Turn right x degrees or seconds',
  'fire': 'Deliver medical package', 'stop': 'Stops all movement'};
  function toggle_chatbox(buttonid, chatboxid){
    var button = document.getElementById(buttonid);
    var chatbox = document.getElementById(chatboxid);
    if (button.hasAttribute('hidden')){
      button.removeAttribute('hidden')
      chatbox.setAttribute('hidden', true)
    }else{
      chatbox.removeAttribute('hidden')
      button.setAttribute('hidden', true)
    }
    return
  }
  function add_response(response){
    var target = document.getElementById('sent_messages')
    var temp_div = document.createElement('div')
    temp_div.innerHTML = response
    temp_div.className = "command-response-text"
    target.appendChild(temp_div)
    return
  }

  function send_command(inputid){
    var input_element = document.getElementById(inputid)
    var message = input_element.value.toLowerCase()
    console.log(message)
    if (message.includes('help')){
      commands_list = Object.keys(commands_help)
      
      for (var i = 0; i < commands_list.length; i++){
        response = "<u data-toggle='tooltip' data-placement='top' title="+commands_list[i]+">" + commands_list[i] + "</u> : " +commands_help[commands_list[i]]
        add_response(response);
      }
    }else if (message.includes('say')){
      phrase = message.splice('say').slice(1);
      phrase = phrase.join(say);
      jq_ajax('/say-phrase', phrase, add_response);
    }else if (message.includes('shoot')){
      jq_ajax('/process_shooting');
      add_response('Firing')
    }else if (message.includes('kill')){
      jq_ajax('/robotshutdown');
      add_response('Shut down everything')
    }
    input_element.value = ""
  }
  function enlarge_console(){
    var console_el = document.getElementById('message_box');
    var trigger = document.getElementById('resize_console');
    var text_area = document.getElementById('textbox_area');
    var terminal_counter = document.getElementById('terminal-counter');
    trigger.setAttribute('onclick',"shrink_console()");
    trigger.className = "fa fa-compress fa-2x pointer";
    console_el.className = "message-box cs-lg";
    text_area.className = "textbox-area cs-lg";
    terminal_counter.removeAttribute('hidden');

  }
  function shrink_console(){
    var console_el = document.getElementById('message_box');
    var trigger = document.getElementById('resize_console');
    var text_area = document.getElementById('textbox_area');
    var terminal_counter = document.getElementById('terminal-counter');

    trigger.setAttribute('onclick',"enlarge_console()");
    trigger.className = "fa fa-expand fa-2x pointer";
    console_el.className = "message-box cs-sm";
    text_area.className = "textbox-area cs-sm";
    terminal_counter.setAttribute('hidden', true);
  }
</script>
<button type = "button" class = "btn btn-success show-chatbox-btn" data-toggle='tooltip' data-placement='top' title="Open Terminal"
id = "show_chatbox_btn"onclick = "toggle_chatbox('show_chatbox_btn', 'message_box')">Show Terminal</button>
<div id="message_box" class = "message-box cs-sm" hidden>
  <div class="message-header" id="message_header">
      <i class="fa fa-expand fa-2x pointer" aria-hidden="true" id = "resize_console" onclick ="enlarge_console()" ></i>
      <h4 class = "heading align-self-center">Text Command</h4>
      <i class="fa fa-times-circle-o fa-2x pointer d-flex justify-content-end"" aria-hidden="true" onclick = "toggle_chatbox('show_chatbox_btn', 'message_box')"
      class = "align-item: right; justify-content:center"></i>
  </div>
  <div class = "message-body" id = 'message_body'>
      <div class="sent-messages" id = "sent_messages">

      </div>
      <div class="textbox-area-container">
        <div class="textbox-area cs-sm" id = "textbox_area">
          <textarea name="command_text_area" id="command_text_area" class="command-text-area" placeholder="Command.." rows = 1></textarea>   
          <button type="button" class = "btn btn-success" onclick = "send_command('command_text_area')">
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
        </div>
      </div>
      
  </div>
</div>
{%endblock%}
{% block scripts %}
    <script> robot_enabled = {{robot_enabled}}; </script>
    <script src="/static/js/dashboard.js"></script> 
    <script src="/static/js/mapping.js"></script> 
{% endblock %}