{% extends "layout.html" %}
{%block title%}
    Dashboard
{%endblock%}
{% block content %}
<script src="/static/js/brick_pi_2022_dashboard.js"></script> 
<script>
    jQuery(document).ready(function () {
  jQuery('[data-toggle="tooltip"]').tooltip();
});


function drawGuage(label, value, size, markings, target){
  google.charts.load('current', {'packages':['gauge']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Label', 'Value'],
      [label, value],
    ]);

    var options = {
      width: size['width'], height: size['height'],
      redFrom: markings['redFrom'], redTo: markings['redTo'],
      yellowFrom:markings['yellowFrom'], yellowTo: markings['yellowTo'],
      greenFrom:markings['greenFrom'], greenTo: markings['greenTo'],
      minorTicks: markings['minorTicks']
    };

    var chart = new google.visualization.Gauge(document.getElementById(target));

    chart.draw(data, options);
  }
}

  markings = {'redFrom':0,'redTo':30,'yellowFrom':30,'yellowTo':70,'greenFrom':70,'greenTo':100,'minorTicks':5}
  size = {'width':400, 'height':120}
  drawGuage('Battery', 80, size, markings, 'battery_graph')
  function draw_power_guage(value){
    size = {'width':400, 'height':120}
    markings = {'redFrom':75,'redTo':100,'yellowFrom':0,'yellowTo':15,'greenFrom':15,'greenTo':75,'minorTicks':5}
    drawGuage('Power', value, size, markings, 'power_graph')
  }
  draw_power_guage(30)
</script>


<div class="modal fade" id="end_mission_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">End Mission</h5>
          <button type="button" class="btn-close" onclick="resume_mission();" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-floating">
                <textarea type="text" class="form-control" id="mission_notes" placeholder="Notes" name ='mission_notes'></textarea>
                <label for="mission_notes">Mission Notes</label>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" onclick="jq_ajax('/cancel-mission');location.replace('/missions'); stop_start_mission();resume_mission()" 
          data-bs-dismiss="modal">Cancel Mission</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="jq_ajax('/save-mission', 
          document.getElementById('mission_notes').value); stop_start_mission(); location.replace('/missions');resume_mission()">Save Mission</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="image_settings" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Image Settings</h5>
          <button type="button" class="btn-close" onclick="resume_mission();" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5 class= heading>Show</h5>
            <div class = "row">
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="h_victims" checked>
                <label class="form-check-label" for="h_victims">
                  Harmed Victims
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="u_victims" checked>
                <label class="form-check-label" for="u_victims">
                  Unharmed Victims
                </label>
              </div>
            </div>
            
            
            <h5 class= heading>Colour Mask</h5>
                <input type = "color" id = "upper_colour" value = "#ffffff" 
                onchange = "jq_ajax('/update-colour-mask/upper', this.value)">
                <label for="upper_colour">Upper Colour</label><br>
                <input type = "color" id = "lower_colour" value = "#000000"
                onchange = "jq_ajax('/update-colour-mask/lower', this.value)">
                <label for="lower_colour">Lower Colour</label>
            <button class = "btn btn-warning" onclick = "reset_image_settings()">Reset All</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" onclick="jq_ajax('/cancel-mission');location.replace('/missions'); stop_start_mission();resume_mission()" 
          data-bs-dismiss="modal">Cancel Mission</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="jq_ajax('/save-mission', 
          document.getElementById('mission_notes').value); stop_start_mission(); location.replace('/missions');resume_mission()">Save Mission</button>
        </div>
      </div>
    </div>
  </div>
    <h1 class="heading">Robot Dashboard <i id = "battery_symbol" class = "fa fa-battery-full" style="color:green;"></i></h1>
    
    <div class="row" id="load">
        <button type="button" class="btn btn-success" onclick="load_robot();">Load Robot</button>
    </div>   
    <div id="dashboard">
        <div class="d-flex justify-content-center">
          <div>
            <button id="missions-button" type="button" class="btn btn-success" onclick="jq_ajax('/initiate-mission');stop_start_mission();allow_sensors = true;">Start Mission</button>
            <button id="missions-modal-button" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#end_mission_modal"
            onclick="jq_ajax('/initiate-mission'); suspend_mission()" hidden>End Mission</button>
          </div>
          <div >
            <button class="btn btn-secondary" onclick="recognition.start(); swap_vc(this.id)" data-current = "start" id = "vc_controls"
            data-toggle='tooltip' data-placement='top' title="Voice Commands">
              Enable VC <i class="fa fa-microphone" aria-hidden="true"></i>
            </button>          
          </div>
          <div >
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false">Robot <i class="fa fa-cogs"></i></button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <button id="sensors" type="button" class="btn btn-info" href = "/sensor-view"style="width:100%;"
                  data-toggle="tooltip" data-bs-placement="right" title="Sensors"><i class="fa-solid fa-temperature-half"></i></button>
                  <button id="compass" type="button" class="btn btn-secondary" onclick="jq_ajax('/compass');" style="width:100%;"
                  data-toggle="tooltip" data-bs-placement="right" title="Set Compass"><i class="fa-regular fa-compass"></i></button>
                  <button id="reconfig" type="button" class="btn btn-warning" onclick="jq_ajax('/reconfig_IMU');" style="width:100%;" 
                  data-toggle="tooltip" data-bs-placement="right" title="Reconfigure IMU"><i class="fa-solid fa-location-arrow"></i></button>
                  <button id="shutdown" type="button" class="btn btn-danger" onclick="shutdown_robot();" style="width:100%;"
                  data-toggle="tooltip" data-bs-placement="right" title="Shutdown Robot"><i class="fa-solid fa-power-off"></i></button>
                </div>
              </div>
            </div>
          </div>
          
          
          
            
          </div>
        <div class="d-flex justify-content-center">
          <div style = "display: grid; grid-template-columns: auto auto auto;">
            <button id="reverse" type="button" class="btn btn-secondary" onclick="jq_ajax('/reverse-movement');" 
            data-toggle='tooltip' data-placement='top' title="Return To Start"><i class="fa fa-home" aria-hidden="true"></i></button>
            <button id="forward" type="button" class="btn btn-primary" onclick="jq_ajax('/btn-mov/forward/'+document.getElementById('power').value);"
            data-toggle='tooltip' data-placement='top' title="Move Forward"><i class="fa fa-angle-double-up"></i></button>
            <button id="stop" type="button" class="btn btn-danger" onclick="jq_ajax('/btn-mov/stop/0');"
            data-toggle='tooltip' data-placement='top' title="Stop Robot"><i class="fa-regular fa-circle-stop"></i></button>

            <button id="left" type="button" class="btn btn-primary" onclick="jq_ajax('/btn-mov/left/'+document.getElementById('power').value);"
            data-toggle='tooltip' data-placement='top' title="Turn Left"><i class="fa-solid fa-arrow-rotate-left" aria-hidden="true"></i></button>
            <button id="shoot" type="button" class="btn btn-success" onclick="jq_ajax('/process_shooting');"
            data-toggle='tooltip' data-placement='top' title="Deliver Supplies"><i class="fa fa-crosshairs" aria-hidden="true"></i></button> 
            <button id="right" type="button" class="btn btn-primary" onclick="jq_ajax('/btn-mov/right/'+document.getElementById('power').value);"
            data-toggle='tooltip' data-placement='top' title="Turn Right"><i class="fa-solid fa-arrow-rotate-right"></i></button>
            
            <button id="take_photo" type="button" class="btn btn-warning" onclick="jq_ajax('/take-photo');"
            data-toggle='tooltip' data-placement='top' title="Take Photo"><i class="fa fa-camera" aria-hidden="true"></i></button>
            <button id="backward" type="button" class="btn btn-primary" onclick="jq_ajax('/btn-mov/back/'+document.getElementById('power').value);"
            data-toggle='tooltip' data-placement='top' title="Go Backwards"><i class="fa fa-angle-double-down"></i></button>
            <button id="image-settings-modal-button" type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#image_settings"
            onclick="suspend_mission()" data-toggle='tooltip' data-placement='top' title="Camera Settings"><i class="fa fa-sliders" aria-hidden="true"></i></button>
            <button id="autosearch" type="button" class="btn btn-primary" onclick="jq_ajax('/autosearch')"
            data-toggle='tooltip' data-placement='top' title="Automatic Search">Automatic</button>
          </div>
        </div>
        
        <div class="row">
            <label for="customRange1" class="form-label heading">Robot Power: <span id = "power_range">30</span>%</label>
            <input type="range" class="form-range" id="power" min = "0" max = "100" step = "1" value =30
            oninput="document.getElementById('power_range').innerHTML = this.value; draw_power_guage(parseInt(this.value))">

        </div>
        <div class="row">
            <div id="videobox" class="col">
                <div id="videofeed"></div>
            </div>
            <div id="map" style="z-index: 0;"><div id="box" class="jxgbox col"></div></div>
            <div id="message"></div>
        </div>
    </div>

<script type="text/javascript">
    function allow_sensor(response){
      if (response == false){
        allow_sensors = false;
      }
    }
    if (allow_sensors){
        //interval = setInterval(function(){jq_ajax('/sensors', {}, allow_sensor)},2000)
    }
    
        /*colour_banding = {'redFrom': '0', 'redTo': '20',
        'yellowFrom': '20', 'yellowTo': '60',
        'greenFrom': '60', 'greenTo': '100'}
        drawGuage('battery_graph', {'label': 'Battery', 'value': '80'}, colour_banding, {'width':400, 'height':120}, 5)*/
</script>
<div id = "terminal-counter" style="height: 45vh" hidden></div>
{% endblock %}
{%block left_side_bar%}
<style>
  .data-graphics-box{
  position:fixed;
  background-color: black;
  bottom:0;
  border-radius: 5vh 5vh;
  border: 3px black solid;
  height:80vh;
  resize: both;
  z-index: 0;
  }
  .data-graphics-header{
    height: auto;
    color: white;
    display: grid;
    grid-template-columns: 90% 10%;
    align-content: center;
    margin: 1vh;
    height:5vh;
  }
  .vert-centered{
    display: inline-block; align-self: center;
  }
</style>

<button type = "button" class = "btn btn-success show-chatbox-btn" data-toggle='tooltip' data-placement='top' title="Open Data Graphics"
id = "show_data_graphics_btn"onclick = "toggle_chatbox('show_data_graphics_btn', 'data_graphics_box')">Data Graphics</button>
<div id="data_graphics_box" class = "data-graphics-box cs-sm" hidden>
  <div class="data-graphics-header" id="data_graphics_header">
      <h4 class = "heading align-self-center vert-centered">Data Graphics</h4>
      <i class="fa-solid fa-xmark fa-lg pointer d-flex justify-content-end align-content-end vert-centered" aria-hidden="true" 
      onclick = "toggle_chatbox('show_data_graphics_btn', 'data_graphics_box')"></i>
  </div>
  <div id = "data_graphics_body" class = "data-graphics-body ">
    <div id="battery_graph" class="d-flex justify-content-center"></div>
    <div id="power_graph" class="d-flex justify-content-center"></div>
    <script>
      function draw_battery_graph(value){
        markings = {'redFrom':0,'redTo':30,'yellowFrom':30,'yellowTo':70,'greenFrom':70,'greenTo':100,'minorTicks':5}
        size = {'width':400, 'height':120}
        drawGuage('Battery', value, size, markings, 'battery_graph')
        
        
      }
      function update_battery(value){
        target = document.getElementById('battery_symbol');
        if (value < 25){
          target.className = "fa fa-battery-quarter"
          target.style = "color:red;"
        }else if (value < 50){
          target.className = "fa fa-battery-half"
          target.style = "color:orange;"
        }else if (value < 75){
          target.className = "fa fa-battery-three-quarters"
          target.style = "color:green;"
        }else{
          target.className = "fa fa-battery-full"
          target.style = "color:green;"
        }
      }
      function jq_for_draw_battery_graph(){
          jq_ajax('/get-battery', {}, draw_battery_graph)
          jq_ajax('/get-battery', {}, update_battery)
        }
      jq_for_draw_battery_graph()
      setInterval(jq_for_draw_battery_graph, 1000)
    </script>
  </div>
</div>
{%endblock%}









{%block right_side_bar%}
<button type = "button" class = "btn btn-success show-chatbox-btn" data-toggle='tooltip' data-placement='top' title="Open Terminal"
id = "show_chatbox_btn"onclick = "toggle_chatbox('show_chatbox_btn', 'message_box')">Show Terminal</button>
<div id="message_box" class = "message-box cs-sm" hidden>
  <div class="message-header" id="message_header">
      <i class="fa fa-expand fa-lg pointer vert-centered vert-centered" aria-hidden="true" id = "resize_console" onclick ="enlarge_console()" ></i>
      <h4 class = "heading vert-centered">Text Command</h4>
      <i class="fa-solid fa-xmark fa-lg pointer d-flex justify-content-end vert-centered" aria-hidden="true" onclick = "toggle_chatbox('show_chatbox_btn', 'message_box')"></i>
  </div>
  <div class = "message-body" id = 'message_body'>
      <div class="sent-messages" id = "sent_messages">

      </div>
      <div class="textbox-area-container">
        <div class="textbox-area cs-sm" id = "textbox_area">
          <textarea name="command_text_area" id="command_text_area" class="command-text-area" placeholder="Command.." rows = 1></textarea>   
          <button type="button" class = "btn btn-success" onclick = "send_command('command_text_area')">
            <i class="fa-solid fa-paper-plane" aria-hidden = "true"></i></button>
        </div>
      </div>
      
  </div>
</div>
{%endblock%}
{% block scripts %}
    <script> robot_enabled = {{robot_enabled}}; </script>
    <script src="/static/js/dashboard.js"></script> 
    <script src="/static/js/mapping.js"></script> 
{% endblock %}