{%extends 'layout.html'%}
{%block title%}
Images
{%endblock%}
{%block content%} 
<div class="modal fade" id="images_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Image</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div id = "image_display_area"></div>
        </div>
      </div>
    </div>
  </div>
  <div id ="users_table"></div>

  <script>
    information = {'table_id':'users_table', 
    'columns': {'select': 'Select','imageid': 'Image ID','name': 'Taken By','time': 'Time', 'image':'Image', 'raw_image':'Altered'}, 
    'body_id': 'user_table_body'}
    
    jq_ajax('/image-details', information, create_table)
  </script>
{%endblock%}

    