{% extends "layout.html" %}
{%block title%}
    Sensors
{%endblock%}
{% block content %}
    <div class="page-header" id="banner">
        <div class="row">
            <h2 class = "heading">Robot Sensor View</h2>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Sensor</i></th>
            <th scope="col">Reading</th>
          </tr>
        </thead>
        <tbody id = 'live_sensor_bodyid'>

        </tbody>
      </table>
<script>
    function live_sensor_view(data){
        fill_basic_table('live_sensor_bodyid', data['datasets'], data['fields'])
        console.log(data)
    }
    jq_ajax('/sensor-live-data', {}, live_sensor_view)
    collect_data = setInterval(function(){jq_ajax('/sensor-live-data', {}, live_sensor_view)},2000)
</script>
{% endblock %}
{% block scripts %}
    <script src="/static/js/sensor.js"></script> <!-- JSON HELPER -->
{% endblock %}